@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;

}
body
{
    background: url(proxy.duckduckgo.com.jfif) ;
}
title
{
    font-family: 'ambleregular';
    background-color: rgb(47, 117, 79);
}
h1
{
    background-color: rgba(18, 49, 134, 0.664);
    color: white;
    font-family: 'ambleregular';
    font-size: 3em;
}
h2
{
    background-color: rgba(18, 49, 134, 0.664);
    color: white;
    font-family: 'ambleregular';
    font-size: 2em;
}
p, li
{
    font-family: 'ambleregular';
    font-size: 1.3em;
    text-align: justify;
}
