@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;

}
h1
{
    font-family: 'ambleregular';
    font-size: 3em;
}
h2
{
    font-family: 'ambleregular';
    font-size: 2em;
}
p, li
{
    font-family: 'ambleregular';
    font-size: 1.3em;
    text-align: justify;
}
